.icon-location {
  width: 24px;
	height: 24px;
	background: url("../images/location.svg");
	background-size: cover;
	cursor: pointer;
}

.icon-fullscreen {
  width: 24px;
	height: 24px;
	background: url("../images/fullscreen.svg");
	background-size: cover;
	cursor: pointer;
}

.icon-no-fullscreen {
  width: 24px;
	height: 24px;
	background: url("../images/no-fullscreen.svg");
	background-size: cover;
	cursor: pointer;
}