.carousel {
	padding: 24px;
  width: 100%;
  max-width: 352px;
  height: 300px; 
  overflow: hidden; 
  position: relative;
	margin: 0 auto;

	.fullscreen {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: rgb(255,205,3);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
  }

  .carousel-inner {
    display: flex;
		gap: 24px;
    transition: transform 0.5s ease-in-out; 
    width: 100%;
    height: 100%; 
  }

  .carousel-item {
    flex-shrink: 0;
    width: 100%; 
    height: auto; 
  }

  .carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.5rem;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .indicators {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    span {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: #ddd;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.5s;

      &.active {
        background: #333;
      }
    }
  }

	&.fullscreen-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
		max-width: 100%;
    height: 100%;
    padding: 0;
		background-color: black;
  	overflow: hidden; 

		.fullscreen {
			z-index: 100;
		}

    .carousel-inner-wrapper {
      width: 100%;
      height: 100%;
    }

    .carousel-inner {
      width: 100%;
      height: 100%;
			transform: rotate(90deg);
      transform-origin: center center; 
    }

    .carousel-item {
      width: 100vh;
      height: 100vw;
    }

    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
			object-position: center center;
    }
  }
}
