<app-header *ngIf="!fullscreenService.getIsFullscreen()"></app-header>
<app-carousel [images]="['/assets/images/imagen-1.jpg', '/assets/images/imagen-2.jpg', '/assets/images/imagen-3.jpg']"></app-carousel>
<div class="button-container" *ngIf="!fullscreenService.getIsFullscreen()">
	<app-button 
		(btnClick)="false"
		icon="icon-location">
	</app-button>

	<div class="buttons-text-control">
		<app-button (btnClick)="decreaseText()" text="A-" [disabled]="textSizeService.getFontSize() == textSizeService.minSize">
		</app-button>
		<app-button (btnClick)="increaseText()" text="A+" [disabled]="textSizeService.getFontSize() == textSizeService.maxSize">
		</app-button>
	</div>
</div>
<div class="text-container" *ngIf="!fullscreenService.getIsFullscreen()">
	<h2>¿Qué vas a encontrar en este Museo?</h2>
	<p [ngStyle]="{'font-size.px': textSizeService.getFontSize()}">¡Estás a punto de emprender un viaje por la historia postal y telegráfica de España! En este museo no solo vas a ver
	piezas fascinantes para los amantes de la filatelia, como el primer sello emitido en nuestro país.
	<br><br>
	También descubrirás las aportaciones españolas que han contribuido al desarrollo tecnológico de la telegrafía; objetos
	curiosos, como las cartas jeroglíficas o las cartas escritas en pan de munición; o un cuadro de Joaquín Sorolla
	vinculado con la historia postal y telegráfica. Además, con esta guía podrás jugar y adentrarte en lugares como un vagón
	de Correos o en una torre de telegrafía óptica.
	<br><br>
	¡Esperamos que disfrutes de tu visita! Recuerda hacer un buen uso de esta guía y devolverla a la entrada del museo.
	¡Empezamos!
	<br>
	¡Estás a punto de emprender un viaje por la historia postal y telegráfica de España! En este museo no solo vas a ver
	piezas fascinantes para los amantes de la filatelia, como el primer sello emitido en nuestro país.
	<br><br>
	También descubrirás las aportaciones españolas que han contribuido al desarrollo tecnológico de la telegrafía; objetos
	curiosos, como las cartas jeroglíficas o las cartas escritas en pan de munición; o un cuadro de Joaquín Sorolla
	vinculado con la historia postal y telegráfica. Además, con esta guía podrás jugar y adentrarte en lugares como un vagón
	de Correos o en una torre de telegrafía óptica.
	<br><br>
	¡Esperamos que disfrutes de tu visita! Recuerda hacer un buen uso de esta guía y devolverla a la entrada del museo.
	¡Empezamos!
	</p>
</div>